[Unit]
Description=InvenTree Shopping System Service
After=network.target

[Service]
# Use the python binary from the virtual environment
ExecStart=__INSTALL_DIR__/.venv/bin/python __INSTALL_DIR__/barcode_inventree.py
WorkingDirectory=__INSTALL_DIR__
StandardOutput=journal
StandardError=journal
Restart=always
User=__USER__
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
